# Copy this file to .env and fill in your own key
# Get a free key at: https://next-gen.materialsproject.org/api
# NEVER commit .env to git — only commit this .env.example file

MP_API_KEY=RT4a4DpzVYb5imACH7I7rVfyOQmtOXLs
SKETCHFAB_API_TOKEN=895b53145d3d4b4ab978a8c39f6f544b
SKETCHFAB_WEIGHT=0.4
